@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  margin: 0;
  padding: 0;
  background-image: url('/imgs/background-pokemon.png');;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.pixel-button {
  font-size: 10px;
  background: #2563eb; 
  color: white;
  padding: 4px 8px;
  border: 2px solid black;
  box-shadow: 2px 2px 0 black;
  cursor: pointer;
  text-transform: uppercase;
}

.pixel-button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.pokedex {
  display: flex;
  width: 700px;
  background: #e63946;
  border: 5px solid #900;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.left-panel, .right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.top-lights {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
.top-lights div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.top-lights div:nth-child(1) { background: red; }
.top-lights div:nth-child(2) { background: yellow; }
.top-lights div:nth-child(3) { background: green; }

.main-screen {
  width: 80%;
  height: 335px;
  background: #333;
  border: 4px inset #ccc;
  border-radius: 4px;
}

.dpad {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background: #8ecae6;
  clip-path: polygon(
    30% 0%, 70% 0%,
    70% 30%, 100% 30%,
    100% 70%, 70% 70%,
    70% 100%, 30% 100%,
    30% 70%, 0% 70%,
    0% 30%, 30% 30%
  );
  position: relative;
  transition: transform 0.05s, box-shadow 0.05s;
  cursor: pointer;
}

.dpad:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.info-screen {
  width: 80%;
  height: 55px;
  margin-top: 30px;
  background: #88d498;
  border-radius: 4px;
  display: grid;
  place-items: center; /* shorthand for align-items and justify-items */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 20px);
  gap: 10px;
}
.buttons button {
  width: 20px;
  height: 20px;
  background: #fcbf49;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0;
}
.buttons button.selected {
  background: #ff595e;
}

.bottom-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter-input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid #555;
  font-size: 14px;
  background-color: #fff;
  color: #222;
  width: 150px;
  outline: none;
}

.stats {
  margin-top: 30px;
}

.filter-input:focus {
  border-color: #ff595e;
}
